@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  @apply h-[6px] w-[6px] bg-transparent;
}

.astro-code::-webkit-scrollbar {
  @apply h-[12px] rounded-md
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-cyan-500 dark:bg-cyan-300;
}

.astro-code::-webkit-scrollbar-thumb {
  border-radius: 0.375rem;
}

.astro-code {
  @apply py-5 px-4;
  counter-reset: step;
  counter-increment: step 0;
  width: 100%;
  border-radius: 0.375rem;
  margin-bottom: 2em;
}

@media only screen and (min-width: 768px) {
  .astro-code {
    width: 75%;
  }
}

.astro-code .line::before {
  border-right: rgba(19, 15, 17, 0.8) solid 1px;
  color: rgba(19, 15, 17, 0.8);
  content: counter(step);
  counter-increment: step;
  display: inline-block;
  font-size: 1em;
  margin-right: 1em;
  padding-right: 1em;
  text-align: right;
  transition: all 0.25s ease;
  transform: translateX(0%);
  width: 2em;
}