---
import Layout from '../layouts/Layout.astro';
import Skills from '../components/Skills.astro';
import Social from '../components/Social.astro';
---

<Layout title="Home | Ofir Blum">
	<main class="flex flex-col w-full px-7 md:px-32 mb-10 sm:mb-0 mt-4 pt-6 pb-2">
		<h1 class="text-5xl font-extrabold tracking-tighter mb-2 max-w-3xl">
			Ofir Blum | Data Analyst
		</h1>
		<h2 class="text-3xl font-extrabold tracking-tighter mb-12 max-w-3xl">
			Based in Brussels, Belgium
		</h2>
		<p>
			I'm a versatile data professional combining problem-solving with a keen eye for aesthetics.<br />
			My interests include web crawling, KPI design, reporting tools, statistics and NLP.<br />
			I appreciate transparency and clear communication as a bridge to non-technical users, and key<br />
			to create collaborative, valuable data solutions.<br />
			The technologies I have worked with are specified below.<br />
			You will find representative excerpts from projects I've worked on on my blog.<br />
			Feel free to contact me, or <a class="underline decoration-dotted underline-offset-4 hover:text-cyan-500 dark:hover:text-cyan-200" href="public/Resume - Ofir Blum.pdf" download>
			download my résumé.</a>
		</p>
	</main>
	<Social />
	<Skills />
</Layout>

<style>
	
</style>
