---
import Layout from '../layouts/Layout.astro';
import Skills from '../components/Skills.astro';
import Social from '../components/Social.astro';
---

<Layout title="Home | Ofir Blum">
	<main class="flex flex-col w-full px-7 md:px-32 mb-10 sm:mb-0 mt-4 pt-6 pb-2">
		<h1 class="text-5xl font-extrabold tracking-tighter mb-2 max-w-3xl">
			Ofir Blum | Analytics
		</h1>
		<h2 class="text-3xl font-extrabold tracking-tighter mb-12 max-w-3xl">
			Brussels, BE
		</h2>
		<p>
			I'm a versatile analytics engineer combining problem-solving with a keen eye for aesthetics.<br />
			My interests include data warehousing, scripting, data modeling, ETL, KPI design, statistics and NLP.<br />
			I appreciate transparent and clear communication as a bridge to non-technical users, and key<br />
			to creating collaborative, valuable data solutions.<br />
			You will find representative excerpts from projects I've worked on on my blog.<br />
			Feel free to contact me, or <a class="underline decoration-dotted underline-offset-4 transition duration-300 hover:text-cyan-500 dark:hover:text-cyan-200" href="/Resume - Ofir Blum.pdf" download>
			download my résumé.</a>
		</p>
		<Social />
	</main>
	<Skills />
</Layout>
