---
import { Icon } from "astro-icon";
---
<div class="flex items-center w-full px-7 md:px-32 mb-10 sm:mb-0">
    <a
        href="https://www.linkedin.com/in/ofir-blum/"
        class="flex items-center mr-3 rounded-md theme-btn"
        target="_blank"
        rel="noopener noreferrer"
    >
        <Icon name="feather:linkedin" aria-hidden='true'
        class="h-7 w-7 p-1 rounded-md theme-btn hover:bg-slate-300 dark:hover:bg-slate-600"
        />
    </a>
    <a
        href="mailto:ofir.blum@gmail.com"
        class="flex items-center mr-3 rounded-md theme-btn"
        target="_blank"
        rel="noopener noreferrer"
    >
        <Icon name="fe:mail" aria-hidden='true'
        class="h-7 w-7 p-1 rounded-md theme-btn hover:bg-slate-300 dark:hover:bg-slate-600"
        />
    </a>
    <a
        href="https://github.com/ofirblum"
        class="flex items-center mr-3 rounded-md theme-btn"
        target="_blank"
        rel="noopener noreferrer"
    >
        <Icon name="fe:github-alt" aria-hidden='true'
        class="h-7 w-7 p-1 rounded-md theme-btn hover:bg-slate-300 dark:hover:bg-slate-600"
        />
    </a>
    
</div>